<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>{{category.title}}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Добавить новость</a>
                </li>

            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="container mt-3">
    <h1>{{category.title}}</h1>
    <!--    {{ 5|add:'2'}}   выведет 7-->
    <!--    {{ news.count }}  выведет 9 - количество всех новостей - используется встроеный метод-->
    <!--        {{ news|length }} выведет 9 - количество всех новостей - используется фильтр-->
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                {% for item in categories %}
                <a href="/category/{{ item.id }}" class="list-group-item list-group-item-action active">{{ item.title }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9">
            {% for item in news %}
            <div class="card mb-3">
                <div class="card-header">
                    <!--                  {{ item.my_func }}-->
                    <!--                  {% now "d-m-Y H:i" %}-->
                    <!--                  {{ forloop.counter }}-->
                    Категорія: {{item.category}}
                </div>
                <div class="card-body">
                    <div class="media">
                        {% if item.photo %}
                        <img src="{{ item.photo.url }}" alt="" width="350">

                        {% else %}
                        <img src="https://fastly.picsum.photos/id/946/200/300.jpg?blur=2&hmac=OTvvCdZOBst4GOM65MmH2GlduWf80IWMGfG3btm-CcQ"
                             alt="">
                        {% endif %}

                        <div class="media-body">
                            <h5 class="card-title {% cycle 'text-danger' 'text-success' %}">{{item.title}}</h5>
                            <p class="card-text">{{item.content}}</p>
                            <!--                  {% lorem 3 p %}-->
                            <a href="#" class="btn btn-primary">Читати далі...</a>
                            <p class="card-text mt-2">Дата публікації: {{item.created_at|date:"Y-m-d H:i"}}</p>
                        </div>
                    </div>


                </div>
            </div>
            {% empty %}
            eggggg
            {% endfor %}
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>